VITE_ENV_BASE_API='your_base_api_url_here' # e.g. https://project-buddy-hub-backend.onrender.com/api
VITE_ENV_BASE_WS_API='your_websocket_url_here' # e.g. wss://project-buddy-hub-backend.onrender.com/ws
VITE_ENV_BASE_FILE_URL='your_file_url_here' # e.g. https://pub-c133a294728e4364839e4e9f6398d947.r2.dev
NUXT_PUBLIC_SITE_URL='your_site_url_here' # e.g. https://www.buddyhubbeta.space
VITE_ENV_ENABLE_X_FORWARDED_FOR='true' # true to enable injecting X-Forwarded-For header with client IP, false to disable
